* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F39EB6;
  padding: 15px 40px;
}

.logo {
  color: black;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}
.skills{
    display:flex;
    gap:20px;  
    margin:20px;
}
.s1 img,.s2 img,.s3 img{
    margin-top:80px;
    width: 300px;
    height:300px;
}
.menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.image img {
  width: 300px;
  border-radius: 10px;
  height:300px;
}
.footer {
  background-color: silver;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}